<h1><%= t ".passreset" %></h1>
<p><%= t ".clicklink" %></p>
<%= link_to t(".passreset"), edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p><%= t ".thislink" %></p>
<p><%= t ".p"%></p>
